<!DOCTYPE html>
<html lang="en">
<head>
<title>Welcome to eBazar</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.topnav {
  overflow: hidden;
  background-color: #222831;
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 2px;
}

.topnav .center {
  float: center;
}

.topnav .left {
  background-color: ghostwhite;
  float: left;
}

.topnav .right {
  float: right; 
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #bbe1fa;
  padding: 10px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #222831;
  padding: 2px;
  font-size: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
</style>
</head>

<body>
<header>
    <div class="topnav">
      <div class="left">
        <img src="/public/logo.png" alt="Site logo" height="80" width="104">
      </div>

      <div class="topnav center">

          <form class="form-inline" action="/search" method="POST">
            <input class="form-control mr-sm-2" type="text" placeholder="Search.." name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
          </form>



        <a class="btn btn-outline-light right" role="button" href="/login">Log In</a>
        <a class="btn btn-outline-light right" role="button" href="#">Sign Up</a>

    </div>
</header>

<section>
  <nav>
    <h3>Catagories</h3>
    <ul>
      <li><a href="#">---</a></li>
      <li><a href="#">--</a></li>
      <li><a href="#">---</a></li>
    </ul>
  </nav>
  
  <article>
    <h1>Landing Page</h1>
    <p>Product list show here..</p>
    
  </article>
</section>

<footer>
  <p>Footer</p>
</footer>

</body>
</html>
